In [1]:
try:
    num = int(input("Enter a number: "))
    print(10 / num)
except ZeroDivisionError:
    print("You can't divide by zero!")
except ValueError:
    print("Please enter a valid number.")

Enter a number: 100
0.1

In [4]:
file = open("myfile.txt", "w")
file.write("Hello, Python!")
file.close()
file = open("myfile.txt", "r")
print(file.read())
file.close()

Hello, Python!

In [5]:
file = open("myfile.txt", "r")
print(file.read())
file.close()

Hello, Python!

In [6]:
try:
    num = int("hello")
    print(num)
except ValueError:
    print("Error: Cannot convert to number.")

Error: Cannot convert to number.

In [7]:
add = lambda x, y: x + y
print(add(3, 5))

8

In [8]:
square = lambda x: x * x
print(square(4))

16

In [9]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

In [10]:
nums = [1, 2, 3]
doubled = list(map(lambda x: x * 2, nums))
print(doubled)  # double

[2, 4, 6]