In [1]:
print("Hello World")

Hello World

In [2]:
name="supriya"
age=15
price=100.9

print("name")

name

In [3]:
name="supriya"
age=15
price=100.9

print(name)

supriya

In [4]:
name= "Ram"
age=10
intro=name
print(intro)

Ram

In [7]:
name="Ram"
name1='Ram1'
name2='''Ram2'''
print(name)
print(name1)
print(name2)

Ram
Ram1
Ram2

In [8]:
name="Shradha"
age=23
price=100.9
print(type (name))
print(type(age))
print(type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
age=10
old=False
a=None
print(type(age))
print(type(old))
print(type(None))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

In [10]:
a=5
b=10
sum=a+b
print(sum)

15

In [12]:
a=5
b=10
#arithmetic operators
sum=a+b
diff=b-a
mul=a*b
div=b/a
print(sum)
print(diff)
print(mul)
print(div)

15
5
50
2.0

In [1]:
x = 10
y = 20

print(x == y)  # False
print(x != y)  # True
print(x < y)   # True
print(x > y)   # False

False
True
True
False

In [2]:
is_sunny = True
is_weekend = False

print(is_sunny and is_weekend)
print(is_sunny or is_weekend)
print(not is_sunny)

False
True
False

In [16]:
a=10
b=5
#arithmetic operators
sum=a+b
diff=a-b
mul=a*b
div=a/b

print(sum)
print(diff)
print(mul)
print(div)
print(a % b)#remainder

15
5
50
2.0
0

In [15]:
a=5
b=2
print(a**b)

25

In [17]:
a=5
b=10.5
sum=a+b
print(sum)

15.5

In [4]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
i=0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [8]:
fruits=["apple","banana","cherry"]
print (fruits[2])

cherry

In [10]:
fruits=["apple","banana","cherry"]
fruits[0]="mango"
print(fruits)

['mango', 'banana', 'cherry']